.actionContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 200px;
}
.buttons-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.buttons-container img {
  width: 45px;
  height: 45px;
}

.buttons-container button {
  display: flex;
  font-size: 1.5rem;
  width: 200px;
  height: 100px;
  align-items: stretch;
  justify-content: space-around;
  margin: 10px;
}

/* .buttons-container button span {
  font-size: 1.5rem;
} */
