.actionContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 200px;
}
.buttons-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 100px;
}
.buttons-container img {
  width: 10rem;
}

.buttons-container button {
  display: flex;
  width: 35rem;
  height: 12rem;  
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 10px;
}

.buttons-container button .spanContainer {
  width: 100%;
  margin-right: 30px;

}
.buttons-container button span {
  font-size: 4rem;
}
