
  table {
    width: 400px;
    height: 300px;
    background: white;
    border: 1px solid black;

  }
  
  .tableContainer {
    border: 1px solid black;
    width: 400px;
    height: 300px;
    margin: auto;
  }
