.list {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.list-item {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.list-item .data-container {
  padding: 10px;
  background-color: rgb(220, 220, 220);
  border: 2px solid gray;
  border-radius: 10px;
}
.list-item .data-container div {
  display: flex;
  flex-direction: column;
}
