#navbar {
  background: black;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem 1rem;
}

#navbar .nav-items {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  color: white;
}
.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;  
}
.auth .Clock {
  padding-right: 20px;
}
#signout {
  background-color: grey;
  height: 100%;
  color: white;
  font-size: 2rem;
  border-color: transparent;
  border-radius: 10px;
}
