#newEmployee {
  font-size: 1.7rem;
}

#employees .listContainer {
  margin-bottom: 0px;
}

#empback {
  margin-top: 10%;
  width: 40%;
  height: 40px;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  margin-left: 30px;
  border: 0.2em solid rgba(155, 109, 109, 0);
  border-radius: 1rem;
  font-size: 20px;
}
